* {
    background-color: blanchedalmond;
}

.section {
    background-color: white;
}

.page-index {
    text-align: center;
}

.title {

}

.description {

}

.page-body {

}

.recipe-list {
    list-style: none;
    text-decoration: none;
    text-align: center;
}

.recipe .recipe-link {
    text-decoration: none;
    color: aquamarine;
}